.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1 !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-shrink: 0;
}

.swiper-slide .testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  padding: 16px;
}

.swiper-pagination {
  display: none;
}
